// COLOR
// userInferface
$colors-userInferface-white: #FFFFFF;
$colors-userInferface-black: #373F41;
$colors-userInferface-grayDarkest: #737B7D;
$colors-userInferface-grayDark: #C3CBCD;
$colors-userInferface-grayMedium: #E2E5E6;
$colors-userInferface-grayLight: #F4F5F4;
$colors-userInferface-void: #202126;

// brand
$colors-brand-neonPinkDark: #BF4E6A;
$colors-brand-neonPink: #F9557B;
$colors-brand-sunsetOrange: #FA9F6B;
$colors-brand-sunsetOrangeLight: #F9B086;
$colors-brand-sandYellow: #F9C35E;
$colors-brand-sandYellowLight: #F8CD7C;
$colors-brand-oceanEmerald: #579D9C;
$colors-brand-oceanEmeraldLight: #76AFAE;
$colors-brand-purpleDark: #251E36;
$colors-brand-purpleDarkDesaturate: #2A2839;
$colors-brand-grayIron: #9FA4AB;
$colors-brand-graySilver: #EAEAEA;
$colors-brand-whiteChalk: #FAFAFA;
$colors-brand-blackSlate: #505050;
$colors-brand-blackCarbon: #171921;
$colors-brand-blackCarbonLight: #24262F;
$colors-brand-blackCarbonFiber: #4E515E;

// products
$colors-products-designer: #A84D73;
$colors-products-plan: #FA9F6B;
$colors-products-scan: #F9C35E;
$colors-products-core: #63B6B5;
$colors-products-product: #576B9D;
$colors-products-reality: #9BB663;

// gradients
$colors-gradient-rainbow-stop-01: #F9557B;
$colors-gradient-rainbow-stop-02: #FA9F6B;
$colors-gradient-rainbow-stop-03: #F9C35E;
$colors-gradient-rainbow-stop-04: #BB32A1;
$colors-gradient-rainbow-stop-05: #579D9C;
$colors-gradient-backdrop-stop-01: #3F4459;
$colors-gradient-backdrop-stop-02: #1E2029;


